/*头部*/
.head{
	width: 100%;
	height: 108px;
}
.top_line{
	width: 100%;
	height: 8px;
	background: #004c85;
}
.top{
	height: 100px;
	background: #f0f0f0;
}
.new_top{
	width: 1000px;
	height: 100px;
	margin: 0 auto;
}
.logo{
	width: 286px;
	height: 60px;
	margin-top:20px;
	float: left;
}
.nav{
	height: 16px;
	margin-top: 40px;
	float: right;
	list-style:none;
}
.nav_item{
	height: 16px;
	line-height: 16px;
	font-weight: bold;
	border-right: 1px solid #d0ccc7;
	float: left;
	position: relative;
	z-index: 1;
}
.nav_item_last{
	border:0 none;
}
.nav_item_link{
	padding: 0 22px;
	font-size: 16px;
	color: #333535;
}
.nav_item_cur{
	color: red;
}
.nav_item_link:hover{
	color: red;
}
.list_border{
	width: 108px;
	height: 16px;
	position: absolute;
	top: 16px;
	left: 0;
	z-index: 3;
	display: none;
}
.triangle{
	width: 0;
	height: 0;
	margin: 0 46px;
	font-size: 0;
	line-height: 0;
	border: 8px dashed transparent;
	border-bottom-color: #d0ccc7;
	border-bottom-style: solid;
	z-index: 4;
}
.list_border2{
	width: 108px;
	height: 16px;
	position: absolute;
	top: 17px;
	left: 0;
	z-index: 3;
	display: none;
}
.triangle2{
	width: 0;
	height: 0;
	margin: 0 46px;
	font-size: 0;
	line-height: 0;
	border: 8px dashed transparent;
	border-bottom-color: #fff;
	border-bottom-style: solid;
	z-index: 4;
}
.item_list{
	width: 108px;
	border: 1px solid #d0ccc7;
	border-radius: 5px;
	background: #Fff;
	position: absolute;
	top:32px;
	left: 0;
	display: none;
	z-index: 2;
}
.list_small{
	height: 30px;
	line-height: 30px;
	font-size: 12px;
	list-style: none;
}
.list_small a{
	padding-left: 18px;
	color: #333535;
	font-size: 14px;
	text-align: left;
}
.list_small a:hover{
	color: red;
}

/*底部*/
.foot{
	width: 100%;
	height: 75px;
	font-size: 12px;
	background:#333535;
}
.new_foot{
	width: 1000px;
	height: 50px;
	padding-top: 25px;
	margin: 0 auto;
}
.logo2{
	width: 70px;
	height: 50px;
	float: left;
}
.foot_text{
	width: 900px;
	height: 50px;
	margin-left: 25px;
	float: left;
}
.foot_list{
	height: 14px;
	line-height: 14px;
	margin: 10px 0;
	list-style: none;
}
.foot_item{
	height: 14px;
	border-right: 1px solid #aca8a3;
	float: left;
}
.foot_item_last{
	border:0;
}
.foot_list a{
	padding: 0 10px;
	color: #aca8a3;
}
.foot_item a:hover{
	color: red;
}
.foot_text p{
	padding-left: 10px;
	font-size: 10px;
	color: #666460;
}