
/*关于我们图片*/
.show_bg{
	width: 100%;
	height: 180px;
	margin-bottom: 40px;
	font-size: 0;
	background:  url(../images/contact_border.png);
}
.show_pic{
	width: 1000px;
	height: 180px;
	margin: 0 auto;
}
/*内容区*/
.content{
	width: 100%;
	height: auto;
	font-size: 14px;
	overflow: hidden;
}
.new_content{
	width: 1000px;
	height: auto;
	margin: 0 auto;
}
/*内容左侧*/
.content_left{
	width: 222px;
	float: left;
}
.content_left h2{
	width: 212px;
	height: 39px;
	line-height: 40px;
	padding-left: 10px;
	border-bottom:1px solid #e6e5e2;
	background: #efeeec;
}
.introduce{
	width: 222px;
	margin-bottom: 30px;
	list-style: none;
}
.introduce_item{
	width: 212px;
	height: 39px;
	line-height: 40px;
	padding-left: 10px;
	border-bottom:1px solid #e6e5e2;
}
.introduce_item a{
	color: #666666;
	text-align: left;
}
.introduce_item img{
	margin: auto 5px;
	display: inline;
}
.introduce_item span{
	display: inline-block;
}
.service{
	width: 220px;
	height: 80px;
	border-left: 1px solid #e6e5e2;
	border-right: 1px solid #e6e5e2;
	background: url(../images/contact_us.png) no-repeat;
}
.service_list{
	width: 220px;
	list-style: none;
	border-left: 1px solid #e6e5e2;
	border-right: 1px solid #e6e5e2;
	background: #f8f8f7;
}
.service_item{
	width: 180px;
	height: 39px;
	line-height: 40px;
	padding-left: 40px;
	border-bottom:1px solid #e6e5e2;	
}
.service_item_one{
	background: url(../images/way1.png) 15px center no-repeat;
}
.service_item_two{
	background: url(../images/way2.png) 15px center no-repeat;
}
.service_item_three{
	background: url(../images/way3.png) 15px center no-repeat;
}
.service_item a{
	color: #666666;
	text-align: left;
}
.service_item img{
	margin: auto 5px;
	display: inline;
}
.service_item span{
	display: inline-block;
}
/*内容右侧*/
.content_right{
	width: 760px;
	float: right;
}
.content_title{
	width: 760px;
	height: 39px;
	border-bottom:1px solid #e6e5e2;
	zoom:1;
	position: relative;
}
.content_title a{
	color: #666666;
}
.content_title h2{
	float: left;
	line-height: 40px;
}
.content_title span{
	float: right;
	line-height: 40px;
}
.content_title img{
	float: right;
	line-height: 40px;
	margin-top: 14px;
}
.show_pictures{
	width: 760px;
	margin-top: 20px;
}
.show_list{
	width: 760px;
	height: 200px;
	list-style: none;
}
.show_item{
	width: 220px;
	height: 200px;
	margin-right: 50px;
	float: left;
	zoom:1;
	position: relative;
}
.show_item a{
	color: #343535;
}
.show_item img{
	border:3px solid #efeeec;
}
.show_item span{
	text-align: center;
	line-height: 45px;
	display: block;
}
.show_item_last{
	margin-right: 0;
}
.button{
	width: 300px;
	height: 30px;
	margin: 30px auto;
	margin-bottom: 60px;
}
.btn_text{
	width: 56px;
	height: 28px;
}
.btn_num{
	width: 28px;
	height: 28px;
}
.current{
	color: #fff;
	background: #1e2d50;
}
