
/*合作伙伴图片*/
.aboutus{
	width: 100%;
	height: 178px;
	margin-bottom: 40px;
	font-size: 0;
	background:  url(../images/contact_border.png) 0 -2px;
}
.aboutus_pic{
	width: 1000px;
	height: 178px;
	margin: 0 auto;
}
/*内容区*/
.content{
	width: 100%;
	height: auto;
	font-size: 14px;
	overflow: hidden;
}
.new_content{
	width: 1000px;
	height: auto;
	margin: 0 auto;
}
/*内容左侧*/
.content_left{
	width: 222px;
	float: left;
}
.content_left h2{
	width: 212px;
	height: 39px;
	line-height: 40px;
	padding-left: 10px;
	border-bottom:1px solid #e6e5e2;
	background: #efeeec;
}
.introduce{
	width: 222px;
	margin-bottom: 30px;
	list-style: none;
}
.introduce_item{
	width: 212px;
	height: 39px;
	line-height: 40px;
	padding-left: 10px;
	border-bottom:1px solid #e6e5e2;
}
.introduce_item a{
	color: #666666;
	text-align: left;
}
.introduce_item img{
	margin: auto 5px;
	display: inline;
}
.introduce_item span{
	display: inline-block;
}
.introduce_item_current a{
	color: red;
}
.service{
	width: 220px;
	height: 80px;
	border-left: 1px solid #e6e5e2;
	border-right: 1px solid #e6e5e2;
	background: url(../images/service.png) no-repeat;
}
.service_list{
	width: 220px;
	list-style: none;
	border-left: 1px solid #e6e5e2;
	border-right: 1px solid #e6e5e2;
	background: #f8f8f7;
}
.service_item{
	width: 180px;
	height: 39px;
	line-height: 40px;
	padding-left: 40px;
	border-bottom:1px solid #e6e5e2;	
}
.service_item_one{
	background: url(../images/service3.png) 15px center no-repeat;
}
.service_item_two{
	background: url(../images/service1.png) 15px center no-repeat;
}
.service_item a{
	color: #666666;
	text-align: left;
}
.service_item img{
	margin: auto 5px;
	display: inline;
}
.service_item span{
	display: inline-block;
}
/*内容右侧*/
.content_right{
	width: 740px;
	float: right;
}
.content_title{
	width: 760px;
	height: 39px;
	margin-left: -10px;
	_margin-left: -5px;
	border-bottom:1px solid #e6e5e2;
	zoom:1;
	position: relative;
}
.content_title a{
	color: #666666;
}
.content_title h2{
	float: left;
	line-height: 40px;
}
.content_title span{
	float: right;
	line-height: 40px;
}
.content_title img{
	float: right;
	line-height: 40px;
	margin-top: 14px;
}
.friend_pic{
	margin:30px 30px 15px; 
	_margin-left:15px;
	overflow: hidden;
}
.friend_list{
	width: 720px;
	list-style: none;
	overflow: hidden;
}
.friend_item{
	width: 140px;
	height: 80px;
	margin-right: 40px;
	margin-bottom: 30px;
	float: left;
}
