
/*大图*/
.pictures{
	width: 100%;
	height: 448px;
	position: relative;
	overflow: hidden;
}
.pic{
	width: 100%;
	height: 448px;
	position: absolute;
	top: 0;
	left: 0;
	list-style: none;
}
.pic_item{
	width:100%;
	height: 448px;
}
.pic_item img{
	width: 100%;
	height: 448px;
	border:0;
}
.circle{
	height: 16px;
	position: absolute;
	bottom: 30px;
	left: 48%;
	list-style: none;
}
.circle li{
	width: 16px;
	height: 16px;
	margin-left: 5px;
	float: left;
	background: url(../images/imgs/allbgs.png) no-repeat 0px -145px;height:16px;
}
.circle li.current{
	background: url(../images/imgs/allbgs.png) no-repeat 0px -129px;height:16px;
}
.btn_left{
	width: 24px;
	height: 40px;
	background: url(../images/imgs/allbgs.png) no-repeat 0px -243px;height:40px;padding-left:26px;
	position: absolute;
	top: 50%;
	left: 10%;
	cursor:pointer;
	display: none;
}
.btn_right{
	width: 24px;
	height: 40px;
	background: url(../images/imgs/allbgs.png) no-repeat 0px -283px;height:40px;
	position: absolute;
	top: 50%;
	right: 10%;
	cursor:pointer;
	display: none;
}
.content{
	width: 100%;
	height: 460px;
	font-size: 16px;
	background: #f6f6f4;
}
.new_content{
	width:1000px;
	height: 460px;
	margin: 0 auto;
}
.text{
	width: 1000px;
	height: 190px;
	text-align: center;
}
.text h1{
	padding: 30px 0;
	position: relative;
}
.text span{
	font-size: 28px;
	color: #1d2b56;
	padding: 0 30px;
	z-index: 2;
	background: #f6f6f4;
	display: inline-block;
	position: relative;
}
.text_border{
	width: 600px;
	height: 1px;
	position: absolute;
	top:50%;
	left: 20%;
	z-index: 1;
	background: -webkit-linear-gradient(left,rgba(186,186,186,0) 0,rgba(186,186,186,1) 20%,rgba(186,186,186,1) 80%,rgba(186,186,186,0) 100%);
	background: -moz-linear-gradient(left,rgba(186,186,186,0) 0,rgba(186,186,186,1) 20%,rgba(186,186,186,1) 80%,rgba(186,186,186,0) 100%);
	background: -ms-linear-gradient(left,rgba(186,186,186,0) 0,rgba(186,186,186,1) 20%,rgba(186,186,186,1) 80%,rgba(186,186,186,0) 100%);
}
.text p{
	height: 24px;
	line-height: 24px;
	font-size: 14px;
	font-weight: bold;
	color: #646464;
}
.about{
	height: 260px;
	margin-top: 10px;
	list-style:none;
	font-size: 13px;
}
.about_list{
	width: 217px;
	height: 260px;
	margin-right: 26px;
	float: left;
}
.about_list_first{
	margin-left: 26px;
	display: inline;
}
.about_list a{
	display: block;
	width: 217px;
	height: 260px;
	color: #928f89;
}
.about_imgs{
	width: 217px;
	height: 145px;
}
.about_list img{
	border:0;
}
.about_list h2{
	color: #646464;
	margin:15px auto;
}
.about_list p{
	text-align: left;
	line-height: 1.5em;
	font-size: 12px;
	color: #666666;
}
/*.about_list a:hover{
	background: #d0ccc7;
}*/
.success{
	width: 100%;
	height: 195px;
	font-size: 14px;
	background: #FFF;
}
.new_success{
	width: 1000px;
	height: 195px;
	margin: 0 auto;
}
.success_left{
	width: 700px;
	height: 195px;
	float: left;
}
.success_text{
	width: 700px;
	height: 40px;
	padding-top: 40px;
	color: #000;
	font-weight: bold;
}
.success_pic{
	width: 700px;
	height: 80px;
}
.success_btn_left{
	width: 24px;
	height: 24px;
	margin-top: 28px;
	background: url(../images/imgs/allbgs.png) no-repeat 0px -219px;height:24px;;
	float: left;
}
.success_list{
	width: 600px;
	height: 80px;
	margin: 0 15px;
	overflow: hidden;
	list-style: none;
	float: left;
}
.success_item{
	width: 140px;
	height: 80px;
	margin-right: 12px;
	float: left;
}
.success_item_last{
	margin-right: 0;
}
.success_btn_right{
	width: 24px;
	height: 24px;
	margin-top: 28px;
	background: url(../images/imgs/allbgs.png) no-repeat 0px -195px;height:24px;
	float: left;
}
.success_right{
	width: 280px;
	height: 140px;
	margin-top: 22px;
	background: url(../images/contact_way.png) no-repeat;
	float: right;
}
.contact_way{
	margin-left: 20px;
	font-size: 14px;
}
.contact_way span{
	line-height: 28px;
	width: 235px;
	padding-left: 25px;
	display: block;
}
.contact_way a{
	font-family: "Arial";
	font-weight: bold;
	color: #323333;
}
.contact_way a:hover{
	color: red;
}
.way_text{
	line-height: 50px;
}
.way1{
	background: url(../images/way1.png) 0 5px no-repeat;
}
.way2{
	background: url(../images/way2.png) 0 5px no-repeat;
}
.way3{
	background: url(../images/way3.png) 0 5px no-repeat;
}

/*QQ在线客服*/
.qq{
	width: 156px;
	height: 205px;
	background: url(../images/qq2.png) no-repeat;
	position: fixed;
	top:30%;
	right: -129px;
}

/*针对IE6 fixed 无效的操作*/
* html .qq{
	position:absolute;
			left:expression(eval(document.documentElement.scrollLeft+document.documentElement.clientWidth-this.offsetWidth)
				-(parseInt(this.currentStyle.marginLeft,10)||0)-(parseInt(this.currentStyle.marginRight,10)||0)+129);
			top:expression(eval(document.documentElement.scrollTop+170))
}
/*使用上述操作导致定位的元素抖动的问题解决方法*/
* html,* html body{
	background-image:url(about:blank);
	background-attachment:fixed;
}