
/*关于我们图片*/
.show_bg{
	width: 100%;
	height: 180px;
	margin-bottom: 40px;
	font-size: 0;
	background:  url(../images/contact_border.png);
}
.show_pic{
	width: 1000px;
	height: 180px;
	margin: 0 auto;
}
/*内容区*/
.content{
	width: 100%;
	height: auto;
	font-size: 14px;
	overflow: hidden;
}
.new_content{
	width: 1000px;
	height: auto;
	margin: 0 auto;
}
/*内容左侧*/
.content_left{
	width: 222px;
	float: left;
}
.content_left h2{
	width: 212px;
	height: 39px;
	line-height: 40px;
	padding-left: 10px;
	border-bottom:1px solid #e6e5e2;
	background: #efeeec;
}
.introduce{
	width: 222px;
	margin-bottom: 30px;
	list-style: none;
}
.introduce_item{
	width: 212px;
	height: 39px;
	line-height: 40px;
	padding-left: 10px;
	border-bottom:1px solid #e6e5e2;
}
.introduce_item a{
	color: #666666;
	text-align: left;
}
.introduce_item img{
	margin: auto 5px;
	display: inline;
}
.introduce_item span{
	display: inline-block;
}
.introduce_item_current a{
	color: red;
}
.service{
	width: 220px;
	height: 80px;
	border-left: 1px solid #e6e5e2;
	border-right: 1px solid #e6e5e2;
	background: url(../images/contact_us.png) no-repeat;
}
.service_list{
	width: 220px;
	list-style: none;
	border-left: 1px solid #e6e5e2;
	border-right: 1px solid #e6e5e2;
}
.service_list{
	width: 220px;
	list-style: none;
	border-left: 1px solid #e6e5e2;
	border-right: 1px solid #e6e5e2;
	background: #f8f8f7;
}
.service_item{
	width: 180px;
	height: 39px;
	line-height: 40px;
	padding-left: 40px;
	border-bottom:1px solid #e6e5e2;	
}
.service_item_one{
	background: url(../images/way1.png) 15px center no-repeat;
}
.service_item_two{
	background: url(../images/way2.png) 15px center no-repeat;
}
.service_item_three{
	background: url(../images/way3.png) 15px center no-repeat;
}
.service_item a{
	color: #666666;
	text-align: left;
}
.service_item img{
	margin: auto 5px;
	display: inline;
}
.service_item span{
	display: inline-block;
}
.service_item_first a{
	color: red;
}
/*内容右侧*/
.content_right{
	width: 740px;
	float: right;
}
.content_title{
	width: 760px;
	height: 39px;
	border-bottom:1px solid #e6e5e2;
	margin-left: -10px;
	zoom:1;
	position: relative;
}
.content_title a{
	color: #666666;
}
.content_title h2{
	float: left;
	line-height: 40px;
}
.content_title span{
	float: right;
	line-height: 40px;
}
.content_title img{
	float: right;
	line-height: 40px;
	margin-top: 14px;
}
.movie_title{
	width: 740px;
	height: 99px;
	font-size: 13px;
	border-bottom: 1px solid #e6e5e2;
}
.movie_title h2{
	text-align: center;
	padding-top: 30px;
	padding-bottom: 15px;
}
.movie_title p{
	text-align: center;
}
.movie_text{
	padding: 30px 0;
	font-size: 14px;
	line-height: 1.8em;
}
.movie_pics{
	display: block;
	margin: 0 auto;
	text-align: center;
}
.movie_pics_last{
	margin: 55px auto;
}
