.li2{background:url(../imgs/allbgs.png) no-repeat 0px 0px;height:5px;padding-left:7px;}
.li1{background:url(../imgs/allbgs.png) no-repeat 0px -5px;height:5px;padding-left:7px;}
.service3{background:url(../imgs/allbgs.png) no-repeat 0px -10px;height:9px;padding-left:18px;}
.service7{background:url(../imgs/allbgs.png) no-repeat 0px -19px;height:12px;padding-left:15px;}
.service1{background:url(../imgs/allbgs.png) no-repeat 0px -31px;height:13px;padding-left:17px;}
.service5{background:url(../imgs/allbgs.png) no-repeat 0px -44px;height:13px;padding-left:16px;}
.home{background:url(../imgs/allbgs.png) no-repeat 0px -57px;height:13px;padding-left:15px;}
.service4{background:url(../imgs/allbgs.png) no-repeat 0px -70px;height:14px;padding-left:16px;}
.service2{background:url(../imgs/allbgs.png) no-repeat 0px -84px;height:14px;padding-left:16px;}
.service6{background:url(../imgs/allbgs.png) no-repeat 0px -98px;height:15px;padding-left:17px;}
.way3{background:url(../imgs/allbgs.png) no-repeat 0px -113px;height:16px;padding-left:19px;}
.circle2{background:url(../imgs/allbgs.png) no-repeat 0px -129px;height:16px;padding-left:18px;}
.circle1{background:url(../imgs/allbgs.png) no-repeat 0px -145px;height:16px;padding-left:18px;}
.way1{background:url(../imgs/allbgs.png) no-repeat 0px -161px;height:17px;padding-left:19px;}
.way2{background:url(../imgs/allbgs.png) no-repeat 0px -178px;height:17px;padding-left:17px;}
.success_right{background:url(../imgs/allbgs.png) no-repeat 0px -195px;height:24px;padding-left:26px;}
.success_left{background:url(../imgs/allbgs.png) no-repeat 0px -219px;height:24px;padding-left:26px;}
.left{background:url(../imgs/allbgs.png) no-repeat 0px -243px;height:40px;padding-left:26px;}
.right{background:url(../imgs/allbgs.png) no-repeat 0px -283px;height:40px;padding-left:26px;}
